@import "../../styles/variables.scss";
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-error {
  text-align: center;
  color: $primary;
  font-size: 1.2rem;
}
