@import "../../styles/variables";

.initial-account-setup-section {
  #detailForm1 {
    .form-field {
      width: 365px;
    }    
  }
  #detailForm2 {
    .form-field {
      width: 100%;
    }    
  }
  .form-field {
    .field-container {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  h2 {
    width: 300px;
    margin: 50px auto;
    text-align: center;
  }

  form {
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  #profileImage {
    position: absolute;
    right: 0;
    top: 0;
    width: 270px;
    height: 240px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    label {
      text-align: center;
      text-transform: none;
      font-family: $oxygen;
      font-size: 1.6rem;
    }
  }
}