@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&family=Oxygen+Mono&display=swap");
@import "./reset.scss";
@import "./variables.scss";
@import "./layout.scss";
@import "./forms.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  * {
    box-sizing: inherit;
  }
}

body {
  background: #000;
  font-family: $oxygen;
  color: $grey;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.button-primary {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  background: #e9002d;
  padding: 18px 20px;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-size: 300% 100%;
  margin-bottom: 16px;
}

.button-primary:hover {
  border: none;
  background-image: linear-gradient(
    310deg,
    #e9002d,
    #eb3941 30%,
    #f26681 40%,
    #fff 45%,
    #e2373f 50%,
    #e9002d
  );
  -webkit-box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  background-position: 100% 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button-primary:focus {
  outline: 1px solid #fff;
  transition: none;
}

.button-secondary {
  display: inline-block;
  font-size: 1.5rem;
  background: transparent;
  color: #fff;
  padding: 18px 20px;
  text-decoration: none;
  border: 1px solid #fff;
  outline: none;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-size: 300% 100%;
}

.button-secondary:hover {
  border: 1px solid transparent;
  background-image: linear-gradient(
    310deg,
    #e9002d,
    #eb3941 30%,
    #f26681 40%,
    #fff 45%,
    #e2373f 50%,
    #e9002d
  );
  -webkit-box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
  background-position: 100% 300%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button-secondary:focus {
  border: 1px solid #e9002d;
  transition: none;
}

@keyframes primary-fill {
  0%,
  75% {
    background: transparent;
    color: #fff;
  }

  100% {
    background: #1c1c1c;
  }
}

.hide {
  visibility: hidden;
}

// Slogan
// .text-slogan {
//   font-size: 7.5rem;
//   text-transform: uppercase;
//   font-family: "Inconsolata", sans-serif;
//   letter-spacing: 15px;
//   line-height: 1.22;
//   word-spacing: -15px;
//   span {
//     display: block;
//     color: $primary;
//   }
//   @media (max-width: 750px) {
//     font-size: 5rem;
//   }
// }

// Color styles
.text-color-primary {
  color: $primary;
}
