@import "../../styles/variables.scss";

main.home-page {
  section {
    margin-bottom: 100px;
  }
  h2 {
    font-family: $barlow;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 7rem;
    text-transform: uppercase;
    text-align: center;
    @include maxScreen($mobile) {
      font-size: 6rem;
    }
    span {
      display: block;
    }
  }
  p {
    color: #f6f6f6;
  }
  .intro-section {
    max-width: 500px;
    .text-slogan {
      margin-bottom: 30px;
    }
    p.copy {
      margin-bottom: 40px;
      font-weight: 400;
      line-height: 2;
      font-size: 1.6rem;
      letter-spacing: 0;
    }
    span.worksmart-spacing {
      letter-spacing: 1.5px;
    }
  }
  .signup-section {
    h2 {
      flex-basis: 100%;
      margin-bottom: 30px;
      font-family: "Inconsolata", sans-serif;
      font-size: 5rem;
      letter-spacing: 15px;
      line-height: 1.22;
      word-spacing: -15px;
    }
  }
  .partner-section {
    display: flex;
    img {
      object-fit: cover;
    }
    > div {
      flex: 1 1 50%;
    }
    h2 {
      text-align: left;
      margin-bottom: 30px;
      font-family: "Inconsolata", sans-serif;
      font-size: 5rem;
      letter-spacing: 15px;
      line-height: 1.22;
      word-spacing: -15px;
    }
    p.copy {
      margin-bottom: 40px;
      margin-right: 60px;
      font-weight: 400;
      line-height: 2;
      font-size: 1.6rem;
      letter-spacing: 0;
    }

    @include maxScreen($mobile) {
      img {
        display: none;
        margin-right: 0;
      }
      > div {
        flex: auto;
        text-align: center;
      }
      h2 {
        text-align: center;
      }
    }
  }
}
