@import '../../styles/variables.scss';

main.home-page {
  section {
    margin-bottom: 100px;
  }
  h2 {
    font-family: $barlow;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 7rem;
    text-transform: uppercase;
    text-align: center;
    @include maxScreen($mobile) {
      font-size: 6rem;
    }
    span {
      display: block;
    }
  }
  p {
    color: #f6f6f6;
  }
  .intro-section {
    max-width: 500px;
    .text-slogan,
    p {
      margin-bottom: 15px;
    }
  }
  .signup-section {
    h2 {
      margin-bottom: 30px;
      flex-basis: 100%;
    }
  }
  .partner-section {
    display: flex;
    img {
      object-fit: cover;
    }
    > div {
      flex: 1 1 50%;
    }
    h2 {
      text-align: left;
    }
    p {
      margin: 20px 0;
    }

    @include maxScreen($mobile) {
      img {
        display: none;
      }
      > div {
        flex: auto;
        text-align: center;
      }
      h2 {
        text-align: center;
      }
    }
  }
}
