@import '../../styles/variables.scss';

// .mentor-availability-page {
//     display: flex;
//     flex-direction: row;
//     width: 70%;
//   }

  main.mentor-availability-page {
    background: $grey-darker;
    // padding: 40px 150px;
    padding: 15px 20px;
    font-family: 'Inconsolata';
    width: 100%;
    margin: 0 auto;


    .back-btn {
        font-family: 'Inconsolata' !important;
        color: #fff;
        background: none;
        outline: none;
        // text-decoration: underline;
        padding: 0;
        border: none;
        font-weight: 400;
        font-size: 1.5rem;
        // line-height: 24px;
        &:hover {
          text-decoration: underline;
        }
        &:focus {
          // text-decoration: underline;
          outline: 2px white solid;
          padding: 5px;
        }
    }

    .sr-only {
      position: absolute ;
      left: -10000px;
      width: 1px;
      height: 1px;
      top: auto;
      overflow: hidden;
    }


      h2 {
        font-weight: 600;
        line-height: 40px;
        color: white;
        font-family: 'Inconsolata';
        flex: 0 0 100%;
        // margin-bottom: 20px;
        margin-top: 40px;
        margin-bottom: 14px;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-size: 2.5rem;
      }

      .weekday-checkbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      
      }
    .weekday-checkbox label, .weekday-checkbox input {
        display: block;
    }
    .weekday-checkbox label {
        margin-top: 10px;
    }
    .weekday-checkbox > input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      /*
        Set the size of the checkbox.
      */
      width: 20px;
      height: 20px;
      border: 2px solid white; /* Inner border */
    }

    .weekday-checkbox > input:checked {
      background-color: white; /* The "check" */
    }

    .custom-select {
      // margin-top: 20px;
      width: 35%;
    }

    .custom-select select {
      -webkit-appearance: none;
      font-family: 'Inconsolata' !important;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      background-color: white;
      -webkit-padding-end: 10px;
      -moz-padding-end: 10px;
      -webkit-padding-start: 10px;
      -moz-padding-start: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      // &:active {
      //   background-color: yellow;
      //   border-color: yellow;
      //   }

    
    }

    

  
  
    .profile-summary {
    //   display: flex;
      margin-bottom: 55px;
      
    }
    .card {
        // display: flex;
        // flex-wrap: wrap;
        padding: 15px 20px;
    }

    h1 {
        font-family: $inconsolata;
        font-weight: 600;
        // font-size: 2.5rem;
        // line-height: 40px;
        font-size: 4rem;
        line-height: 4.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $primary;
        // margin-bottom: 14px;
        margin: 0 0 20px;
        letter-spacing: 8px;
        span {
            color: white;
            display: block;
        }
      }

    .week-days {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
}

.fc .fc-highlight {
  border: 3px solid red;
  background: grey !important;
  opacity: 0.9 !important;
}



.fc-day-future > .fc-daygrid-day-frame:hover, .fc-day-today > .fc-daygrid-day-frame:hover {
  border: 3px solid red;
  // outline: 3px solid red;
  background: grey !important;
  opacity: 0.9 !important;
}

.select-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.bottom-text {
  margin-top: 60px;
}

.button.button-primary.book-meeting {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  margin: 0; 
}

.button.button-primary.book-meeting.send-invitation {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button.button-primary.book-meeting:hover {
  background-color: #fff !important;
  background-image: none;
  color: $grey-darkest !important;
}

.button.button-primary.book-meeting:focus {
  outline: none;
}

.btn-div {
  text-align: center;
  &.submit {
    margin-top: 60px;
  }
}



.button.button-primary.book-meeting.save-button {
  margin-top: 20px;
  background-color: #fff !important;
  color: $grey-darkest !important;
  border: none;
}


// .button.button-primary.book-meeting.save-button:hover {
  
// }

// .button.button-primary.book-meeting.save-button:focus {
  
// }

.selected-slot {
  display: flex;
  margin-bottom: 18px;
  margin-top: 18px;
  align-items: center;
  flex-wrap: wrap;
  // justify-content: space-between;
  .modal-close {
    border-radius: 2.5px;
    cursor: pointer;  
    margin-left: 12px;
    padding: 2px;
    &:hover {
      transition: 150ms ease;
      color: #e9002d;
    }
    &:focus {
      outline: 1px solid white;
      outline-offset: 1px;
      transition: 150ms ease;
      color: #e9002d;
      
    }
  }
}