@import '../../styles/variables.scss';

main.profile-page {
  background: $grey-darker;
  padding: 40px 150px;
  font-family: 'Inconsolata';

  .profile-summary {
    display: flex;
    flex-wrap: wrap;
  }
  h2 {
    font-weight: 600;
    line-height: 40px;
    flex: 0 0 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 2.5rem;
  }
  .user-info {
    display: flex;
  }
  .profile-summary--img-container {
    flex: 0 1 145px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .profile-summary--details {
    h1 {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 40px;
      text-transform: uppercase;
      color: $primary;
      margin-bottom: 14px;
      letter-spacing: 8px;
    }
    span {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 28px;
      display: block;
      margin-bottom: 14px;
    }
    button {
      background: none;
      text-transform: capitalize;
      text-decoration: underline;
      color: #fff;
      padding: 0;
      outline: none;
      border: none;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 24px;
    }
  }
  .profile-status {
    margin-top: 55px;
  }
  .status-container {
    text-align: center;
    background-color: #212121;
    align-items: center;
    padding: 24px 40px;

    h3 {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 40px;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: $primary;
    }

    p {
      color: #FFFFFF;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      opacity: 0.7;
    }
  }

  .button-container {
     background-color: black;
     padding: 22px 100px;
     height: 90px;
  }

  .application-container {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    .session-card {
      cursor: pointer;
    }
    .application-container--heading {
      font-size: 2rem;
      font-weight: 600;
    }
    .application-container--no-sessions {
      color: $grey-dark;
      text-align: center;
    }
  }

  // Edit profile form
  .form-container__edit-profile {
    position: relative;

    .back {
      position: absolute;
      top: 0;
      right: 20px;
      color: #f6f6f6;
      background: transparent;
      cursor: pointer;
    }

    .profile-image {
      img {
        height: 200px;
        width: 200px;
      }
    }
  }
}
