@import "../../styles/variables";

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  .role-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-family: $inconsolata;
      font-style: normal;
      font-weight: bold;
      font-size: 5.5rem;
      line-height: 7rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 7rem;
      letter-spacing: 15px;
    }
    h3 {
      font-family: $inconsolata;
      font-weight: 700;
      font-style: normal;
      font-size: 2.8rem;
      line-height: 4rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.8rem;
      word-spacing: 0px;
    }
    .role-select-button {
      width: 350px;
      h2 {
        color: $primary;
        font-size: 4rem;
        font-family: $oxygen;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: -0.1px;
        margin-top: 1.6rem;
        text-transform: capitalize;
      }
      &:first-of-type {
        margin-bottom: 6rem;
      }
    }
  }
  .form-container__signup {
    .text-slogan {
      padding-right: 45px;
    }
  }
}
