@import "../../styles/variables";

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  .role-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    .choose-path {
      font-style: normal;
      font-weight: 600;
      font-size: 5.2rem;
      line-height: 7rem;
      letter-spacing: 15px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 7rem;
    }
    .role-select-button {
      width: 350px;
      h2 {
        color: $primary;
        font-size: 4rem;
        font-family: $barlow;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: -0.1px;
      }
      &:first-of-type {
        margin-bottom: 6rem;
      }
    }
  }
  .form-container__signup {
    .text-slogan {
      padding-right: 45px;
    }
  }
}
