@import "../../../styles/variables.scss";
@import "./progressBarPositions-mixins.scss";

$progressBoxWidth: 85px;
$progressBoxHeight: 85px;
$progressContainerWidth--desktop: 644px;
$progressContainerWidth--tablet: 65vw;
$progressContainerWidth--mobile: 85vw;

$progressBoxWidth-sm: 47px;
$progressBoxHeight-sm: 47px;
// $progressContainerWidth--desktop: 644px;

.setup-progress-bar {
  display: flex;
  * {
    display: flex;
  }
  justify-content: center;
  .progress-box-container {
    justify-content: space-between;
    align-items: flex-start;
    max-width: $progressContainerWidth--desktop;
    width: 100%;
    @include maxScreen($desktop) {
      width: 65vw;
    }
    @include maxScreen($tablet) {
      width: 100%;
      max-width: 100%;
    }
    .progress-step {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      @include minScreen($desktop + 1) {
        width: $progressBoxWidth;
      }
      @include maxScreen($desktop) {
        width: $progressBoxWidth-sm;
      }
      overflow: visible;
      .progress-box {
        @include minScreen($desktop + 1) {
          width: $progressBoxWidth;
          height: $progressBoxHeight;
        }
        @include maxScreen($desktop) {
          width: $progressBoxWidth-sm;
          height: $progressBoxHeight-sm;
        }
        background-color: #212121;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
        .progress-step-border {
          position: absolute;
          border: 3px solid $primary;
          width: calc(100% + 6px);
          height: calc(50% + 3px);
        }

        // Connector lines
        .progress-step-connector {
          position: absolute;
          bottom: calc(50%);
          height: 3px;
          left: 100%;
          background-color: $primary;
          @include minScreen($desktop + 1) {
            width: calc((#{$progressContainerWidth--desktop} - (#{$progressBoxWidth} * 3)) / 2);
          }
          @include maxScreen($desktop) {
            width: calc((#{$progressContainerWidth--tablet} - (#{$progressBoxWidth-sm} * 3)) / 2);
          }
          @include maxScreen($tablet) {
            width: calc((#{$progressContainerWidth--mobile} - (#{$progressBoxWidth-sm} * 3)) / 2);
          }
        }
      }
    }
    .progress-description {
      line-height: 40px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
      white-space: nowrap;
      @include maxScreen($tablet) {
        white-space: initial;
        font-size: 2rem;
        text-align: center;
        line-height: 1.2;
      }
    }
  }
  @include FirstPositionProgress();
  @include SecondPositionProgress();
  @include ThirdPositionProgress();
}
