@import "../../styles/variables.scss";

main.events-page {
  display: grid;
  grid-gap: 50px 10px;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: auto 1fr auto;
  max-width: unset;
  grid-column: 1 /-1;
  > section {
    grid-column: col-start 2 / span 10;
  }
  .text-is-red {
    color: $primary;
  }
  .grid-span-8 {
    grid-column: col-start 3 / span 8;
    max-width: 1200px;
  }
  .events-hero-section {
    display: flex;
    min-height: unset;
    flex-direction: column;
    height: 415px;
    padding: 5rem 0;
    > * {
      max-width: 60%;
    }
    .hero-title {
      font-family: $barlow;
      font-size: 9rem;
      font-weight: bold;
      text-transform: uppercase;
      span {
        display: block;
      }
    }
    .hero-description {
      margin-top: 2.4rem;
    }
  }
  .cta-section {
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1 / -1;
    height: 470px;
    position: relative;
    background-image: url("../../assets/images/event-cta-section-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    .cta-container {
      font-family: $barlow;
      font-size: 6.4rem;
      font-weight: bold;
      text-transform: uppercase;
      width: 50%;
      max-width: 50%;
      padding-top: 100px;
      span {
        display: block;
      }
      .cta-button {
        font-size: 1.2rem;
        background-color: transparent;
        border: 1px solid white;
        padding: 15px 30px;
        text-transform: uppercase;
      }
    }
    .cta-date {
      position: absolute;
      right: 0;
      bottom: 27px;
      font-size: 2rem;
      background-color: black;
      color: white;
      padding-left: 30px;
      padding-right: 70px;
      span {
        font-size: 2.2rem;
      }
    }
  }

  .form-section {
    .form-section-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      .form-section-header-title {
        font-family: $barlow;
        font-weight: 600;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        border-bottom: 2px solid white;
      }
      .form-section-description {
        width: 50%;
        margin-top: 3rem;
      }
    }
    .events-form {
      display: grid;
      grid-gap: 20px 60px;
      grid-template-rows: 1fr;
      margin-top: 5.5rem;
      .form-name,
      .form-email,
      .form-phone {
        grid-column-start: 1;
        align-self: start;
      }
      .form-request {
        grid-column: 2 / span 1;
        grid-row: 1 / span 3;
        align-self: start;
        display: flex;
        flex-direction: column;
        height: 100%;
        textarea {
          height: 100%;
        }
      }
    }
  }
}
